<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Model</th>
            <th scope="col">Price</th>
            <th scope="col">Year</th>
            <th scope="col">Function</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Lamborghini</td>
            <td>Lamborghini Aventador LP700-4</td>
            <td>$399,500</td>
            <td>2011 - 2016</td>
            <td>
                <button type="button" class="btn btn-outline-success btn-rounded waves-effect"><i class="fas fa-heart"
                        aria-hidden="true"></i>Favorite</button>

                <button type="button" class="btn btn-outline-info btn-rounded waves-effect mx-2"><i class="fas fa-pen"
                        aria-hidden="true"></i>Edit</button>

                <button type="button" class="btn btn-outline-danger btn-rounded waves-effect "><i class="fas fa-trash"
                        aria-hidden="true"></i>Delete</button>

            </td>
        </tr>
    </tbody>
</table>